.single-pokemon-container {
  display: flex;
  flex-direction: column;
  padding: 42px;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100vh;
}

.pokemon-description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 32px;
}

.image-container {
  width: 200px;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 4px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-pokemon-detail-container {
  text-align: left;
  width: 300px;
}

.stats-container {
  border-radius: 4px;
  background: #bcbcff;
  padding: 12px;
  font-size: 16px;
}

.stats-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.stats-title {
  display: block;
  font-weight: 600;
  width: 50px;
}
.stats-content {
  display: block;
  margin-top: -4px;
  width: 80px;
}

.type-content {
  padding: 4px 12px;
  margin-right: 4px;
  border-radius: 25px;
  display: inline-flex;
}

.type-container {
  margin-top: 10px;
}

.ability-content {
  padding: 4px 12px;
  margin-right: 4px;
  border-radius: 25px;
  display: inline-flex;
  background-color: #bcbcff;
  margin-top: 2px;
}

.back-button-container {
  position: fixed;
  top: 20px;
  left: 20px;
}

.back-button {
  background-color: rgb(70, 51, 51);
  color: white;
  font-size: 16px;
}

.delete-button-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.delete-button {
  background-color: rgb(243, 59, 59);
  color: white;
  font-size: 16px;
}

.title-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: white;
  color: #3d405b;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  border: none;
  transition: 200ms ease-in-out;
}
button:hover {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.1rem;
  border: none;
}
